---
import { referenceProof, repoLink } from "../lib/data";

interface Props {
  references?: string[];
}

const { references = [] } = Astro.props;
---

<ul class="reference-list" data-citation-block="reference-files">
  {references.map((reference) => (
    <li>
      <a href={repoLink(reference)}><code>{reference}</code></a>
      <span class="reference-proof"><strong>What this proves:</strong> {referenceProof(reference)}</span>
    </li>
  ))}
</ul>
