---
import { siteStatus, statusClass } from "../lib/data";

interface Props {
  value: string;
}

const { value } = Astro.props;
const normalized = siteStatus(value);
---

<span class:list={["status-chip", statusClass(value)]}>{normalized}</span>
